body {
    font-family: sans-serif;
    background-color: black;
    background-image: linear-gradient(to top, lightblue, blue);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
    
}

.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    display: block;
}

img { 
 display: block;
 margin-bottom: 10px;
 width: 200px;
 }



h1 {
    text-align: center;
    text-transform: uppercase;
    color: white;
    text-shadow: white;
    font-size: 72px;
    margin-top: 45px;
    margin-bottom: 40px;
    padding: 140px;
    width: 300%;
    height: 150px;
    background-image: url("");
}

.post-text {
    font-size: 24px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
}



.article-but {
    text-decoration: none;
    background-color: #133aac;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    display: block;
}

.full-image {
    margin: 100px 0px 100px 0px;
}

.social {
    display: block;
    width: 30px;
}

footer {
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 30px 20px 45px;
}

.footer-text {
    font-size: 24px;
    margin-right: 30px;
}

.footer-text span {
    color: #850AE5;
    font-weight: bolder;
}
.jajaja{
    position: absolute;
    left: 30px;
}
div{
display: flex;
background-image: url("");
border: ;
}

main{
    color: white;
}
.bababa{
    border: 5px solid white;
    border-radius: 10px;
    padding: 5px;
    width: 300px;
    background-image: linear-gradient(to right, darkviolet,blue);
    color: black;
}
.gagaga{
    border: 5px solid white;
    border-radius: 10px;
    padding: 5px;
    width: 300px;
    background-image: linear-gradient(to right, darkviolet,blue);
    color: black;
}

.bababa1{
    border: 5px solid white;
    border-radius: 10px;
    padding: 5px;
    width: 300px;
    float: right;
    background-image: linear-gradient(to right, darkviolet,blue);
    color: black;
}
.hahaha{
background-image: linear-gradient(to right, darkviolet,darkblue,black);

}
.gas{
    border: 3px solid white;
    border-radius: 10px;  
}

h2{
    text-align: center;
}
.nav-link:hover{
    box-shadow: 10px 10px 0 0 blue;
    
    background-image: linear-gradient(to right, blue, black);
    transition: all 3s linear;
}
.rururu{
    font-size: 30px;
    color: black;
    margin-left: 40px;
}
div{
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

.container {
    position: relative;
    overflow: hidden; 
    height: 400px;
    width: 600px;
}

.slide-up {
    position: absolute;
    top: 100%;
    left: 0;
    transition: top 1s ease-in-out; 
}

.container:hover .slide-up {
    top: 0;
}
